<!-- Created by Dendy Anggaditya on Tue Jun 30 2020 -->
 
 <header>
  <h3>DENDY ANGGADITYA</h3>
</header>
<main>
  <div class="row">
    <div class="col-md-6">
      <h5>Task 1</h5>
  
      <form #aForm="ngForm" (ngSubmit)="kirim1(aForm.value)">
        <div>
          <input type="number" name="numval" ngModel>
        </div>
        <div>
          <button type="submit" class="btn btn-default">SUBMIT</button>
        </div>
      </form>
    
      <div>
        <h6>result : {{finalnumber}}</h6>
      </div>  
    </div>
    <div class="col-md-6">
      <h5>Test 2</h5>
  
      <form #bForm="ngForm" (ngSubmit)="kirim2(bForm.value)">
        <div>
          <input type="text" name="charval" ngModel>
        </div>
        <div>
          <button type="submit" class="btn btn-default">SUBMIT</button>
        </div>
      </form>
    
      <div>
        <h6>result : {{finalchar}}</h6>
      </div>  
    </div>
  </div>
</main>