/* Created by Dendy Anggaditya on Tue Jun 30 2020 */
@import '../styles'
    
header
    margin-top: 40px
    text-align: center

main
    margin-top: 40px

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button
        -webkit-appearance: none
        margin: 0
    
    input[type=number]
        padding: 5px 10px
        -moz-appearance: textfield

    div
        padding: 5px
        margin-bottom: 10px

    .btn-default
        background-color: transparent
        border: 3px solid $primary-color
        border-radius: 10px
        color: $primary-color
        padding: 8px 16px
        font-size: 16px
        transition-duration: 0.4s
        font-weight: 600

    .btn-default:focus, .btn-default:hover 
        background-color: $primary-color
        color: $black-default