/* Created by Dendy Anggaditya on Tue Jun 30 2020 */

// font
$font-primary: Montserrat

// color 
$black-default: #333333
$white-default: #D3D3D3
$primary-color: #EF6F21

body
    background-color: $black-default
    font-family: $font-primary
    color: $white-default
    margin: 0 8%